<% provide(:title, "Home") %>
<p class="text-white p-2 bg-white">Find me in app/views/home/index.html.erb</p>

<div class="">
  <%# render 'layouts/charts' %>
</div>

<style type="text/css">
    .apexcharts-tooltip.apexcharts-theme-light {
        background-color: transparent !important;
        border: none !important;
        box-shadow: none !important;
    }
</style>
<!--<div id="hs-orders-bar-chart" class="min-h-[265px] -mx-2"></div>-->

<div class="xl:col-span-4 flex flex-col bg-white border border-stone-200 shadow-sm rounded-xl">
  <!-- Header -->
  <div class="py-3 px-5 flex flex-wrap justify-between items-center gap-2 border-b border-stone-200">
    <h2 class="inline-block font-semibold text-stone-800">
      Orders
    </h2>

    <div class="flex justify-end items-center gap-x-2">
      <!-- Calendar Dropdown -->
      <div class="hs-dropdown [--auto-close:inside] [--placement:top-right] inline-flex">
        <button id="hs-pro-dnic" type="button" class="py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium rounded-lg border border-stone-200 bg-white text-stone-800 shadow-sm hover:bg-stone-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-50" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
          25 Jul - 25 Aug
          <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m6 9 6 6 6-6"/></svg>
        </button>

        <div class="hs-dropdown-menu hs-dropdown-open:opacity-100 w-[318px] sm:w-[636px] transition-[opacity,margin] duration opacity-0 hidden z-50 bg-white rounded-xl shadow-[0_10px_40px_10px_rgba(0,0,0,0.08)]" role="menu" aria-orientation="vertical" aria-labelledby="hs-pro-dnic">
          <!-- Calendar -->
          <div class="sm:flex">
            <!-- Calendar -->
            <div class="p-3 space-y-0.5">
              <!-- Months -->
              <div class="grid grid-cols-5 items-center gap-x-3 mx-1.5 pb-3">
                <!-- Prev Button -->
                <div class="col-span-1">
                  <button type="button" class="size-8 flex justify-center items-center text-stone-800 hover:bg-stone-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" aria-label="Previous">
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                  </button>
                </div>
                <!-- End Prev Button -->

                <!-- Month / Year -->
                <div class="col-span-3 flex justify-center items-center gap-x-1">
                  <div class="relative">
                    <select data-hs-select='{
                        "placeholder": "Select month",
                        "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                        "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative flex text-nowrap w-full cursor-pointer text-start font-medium text-stone-800 hover:text-stone-600 focus:outline-none focus:text-stone-600 before:absolute before:inset-0 before:z-[1]",
                        "dropdownClasses": "mt-2 z-50 w-32 max-h-72 p-1 space-y-0.5 bg-white border border-stone-200 rounded-lg shadow-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-stone-100 [&::-webkit-scrollbar-thumb]:bg-stone-300",
                        "optionClasses": "p-2 w-full text-sm text-stone-800 cursor-pointer hover:bg-stone-100 rounded-lg focus:outline-none focus:bg-stone-100",
                        "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-stone-800" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>"
                      }' class="hidden">
                      <option value="0">January</option>
                      <option value="1">February</option>
                      <option value="2">March</option>
                      <option value="3">April</option>
                      <option value="4">May</option>
                      <option value="5">June</option>
                      <option value="6" selected>July</option>
                      <option value="7">August</option>
                      <option value="8">September</option>
                      <option value="9">October</option>
                      <option value="10">November</option>
                      <option value="11">December</option>
                    </select>
                  </div>

                  <span class="text-stone-800">/</span>

                  <div class="relative">
                    <select data-hs-select='{
                        "placeholder": "Select year",
                        "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                        "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative flex text-nowrap w-full cursor-pointer text-start font-medium text-stone-800 hover:text-stone-600 focus:outline-none focus:text-stone-600 before:absolute before:inset-0 before:z-[1]",
                        "dropdownClasses": "mt-2 z-50 w-20 max-h-72 p-1 space-y-0.5 bg-white border border-stone-200 rounded-lg shadow-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-stone-100 [&::-webkit-scrollbar-thumb]:bg-stone-300",
                        "optionClasses": "p-2 w-full text-sm text-stone-800 cursor-pointer hover:bg-stone-100 rounded-lg focus:outline-none focus:bg-stone-100",
                        "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-stone-800" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>"
                      }' class="hidden">
                      <option selected>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                      <option>2027</option>
                    </select>
                  </div>
                </div>
                <!-- End Month / Year -->

                <!-- Next Button -->
                <div class="col-span-1 flex justify-end">
                  <button type="button" class="opacity-0 pointer-events-none size-8 flex justify-center items-center text-stone-800 hover:bg-stone-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" aria-label="Next">
                    <svg class="shrink-0 size-4" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </button>
                </div>
                <!-- End Next Button -->
              </div>
              <!-- Months -->

              <!-- Weeks -->
              <div class="flex pb-1.5">
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Mo
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Tu
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  We
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Th
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Fr
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Sa
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Su
                </span>
              </div>
              <!-- Weeks -->

              <!-- Days -->
              <div class="flex">
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600" disabled>
                    26
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600" disabled>
                    27
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600" disabled>
                    28
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600" disabled>
                    29
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600" disabled>
                    30
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    1
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    2
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    3
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    4
                  </button>
                </div>
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    5
                  </button>
                </div>
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    6
                  </button>
                </div>
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    7
                  </button>
                </div>
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    8
                  </button>
                </div>
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    9
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    10
                  </button>
                </div>
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    11
                  </button>
                </div>
                <div >
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    12
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    13
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    14
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    15
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    16
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    17
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    18
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    19
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    20
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    21
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    22
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    23
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    24
                  </button>
                </div>
                <div class="bg-stone-100 rounded-s-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center bg-green-600 border border-transparent text-sm font-medium text-white hover:border-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100">
                    25
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    26
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    27
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    28
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    29
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    30
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    31
                  </button>
                </div>
                <div class="bg-gradient-to-r from-stone-100">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    1
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    2
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    3
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    4
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    5
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    6
                  </button>
                </div>
              </div>
              <!-- Days -->
            </div>
            <!-- End Calendar -->

            <!-- Calendar -->
            <div class="p-3 space-y-0.5">
              <!-- Months -->
              <div class="grid grid-cols-5 items-center gap-x-3 mx-1.5 pb-3">
                <!-- Prev Button -->
                <div class="col-span-1">
                  <button type="button" class="opacity-0 pointer-events-none size-8 flex justify-center items-center text-stone-800 hover:bg-stone-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" aria-label="Previous">
                    <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
                  </button>
                </div>
                <!-- End Prev Button -->

                <!-- Month / Year -->
                <div class="col-span-3 flex justify-center items-center gap-x-1">
                  <div class="relative">
                    <select data-hs-select='{
                        "placeholder": "Select month",
                        "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                        "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative flex text-nowrap w-full cursor-pointer text-start font-medium text-stone-800 hover:text-stone-600 focus:outline-none focus:text-stone-600 before:absolute before:inset-0 before:z-[1]",
                        "dropdownClasses": "mt-2 z-50 w-32 max-h-72 p-1 space-y-0.5 bg-white border border-stone-200 rounded-lg shadow-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-stone-100 [&::-webkit-scrollbar-thumb]:bg-stone-300",
                        "optionClasses": "p-2 w-full text-sm text-stone-800 cursor-pointer hover:bg-stone-100 rounded-lg focus:outline-none focus:bg-stone-100",
                        "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-stone-800" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>"
                      }' class="hidden">
                      <option value="0">January</option>
                      <option value="1">February</option>
                      <option value="2">March</option>
                      <option value="3">April</option>
                      <option value="4">May</option>
                      <option value="5">June</option>
                      <option value="6" selected>July</option>
                      <option value="7">August</option>
                      <option value="8">September</option>
                      <option value="9">October</option>
                      <option value="10">November</option>
                      <option value="11">December</option>
                    </select>
                  </div>

                  <span class="text-stone-800">/</span>

                  <div class="relative">
                    <select data-hs-select='{
                        "placeholder": "Select year",
                        "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                        "toggleClasses": "hs-select-disabled:pointer-events-none hs-select-disabled:opacity-50 relative flex text-nowrap w-full cursor-pointer text-start font-medium text-stone-800 hover:text-stone-600 focus:outline-none focus:text-stone-600 before:absolute before:inset-0 before:z-[1]",
                        "dropdownClasses": "mt-2 z-50 w-20 max-h-72 p-1 space-y-0.5 bg-white border border-stone-200 rounded-lg shadow-lg overflow-hidden overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-stone-100 [&::-webkit-scrollbar-thumb]:bg-stone-300",
                        "optionClasses": "p-2 w-full text-sm text-stone-800 cursor-pointer hover:bg-stone-100 rounded-lg focus:outline-none focus:bg-stone-100",
                        "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"hidden hs-selected:block\"><svg class=\"shrink-0 size-3.5 text-stone-800" xmlns=\"http:.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"20 6 9 17 4 12\"/></svg></span></div>"
                      }' class="hidden">
                      <option selected>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                      <option>2026</option>
                      <option>2027</option>
                    </select>
                  </div>
                </div>
                <!-- End Month / Year -->

                <!-- Next Button -->
                <div class="col-span-1 flex justify-end">
                  <button type="button" class="size-8 flex justify-center items-center text-stone-800 hover:bg-stone-100 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" aria-label="Next">
                    <svg class="shrink-0 size-4" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
                  </button>
                </div>
                <!-- End Next Button -->
              </div>
              <!-- Months -->

              <!-- Weeks -->
              <div class="flex pb-1.5">
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Mo
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Tu
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  We
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Th
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Fr
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Sa
                </span>
                <span class="m-px w-10 block text-center text-sm text-stone-500">
                  Su
                </span>
              </div>
              <!-- Weeks -->

              <!-- Days -->
              <div class="flex">
                <div class="bg-gradient-to-l from-stone-100">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    31
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100">
                    1
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100">
                    2
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100">
                    3
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100">
                    4
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    5
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    6
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    7
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    8
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    9
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    10
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    11
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    12
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    13
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    14
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    15
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    16
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    17
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    18
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    19
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    20
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    21
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    22
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    23
                  </button>
                </div>
                <div class="bg-stone-100 first:rounded-s-full last:rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    24
                  </button>
                </div>
                <div class="bg-stone-100 rounded-e-full">
                  <button type="button" class="m-px size-10 flex justify-center items-center bg-green-600 border border-transparent text-sm font-medium text-white hover:border-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100">
                    25
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    26
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    27
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    28
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    29
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    30
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 rounded-full hover:border-green-600 hover:text-green-600 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:border-green-600 focus:text-green-600">
                    31
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    1
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    2
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    3
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Days -->
              <div class="flex">
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    4
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    5
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    6
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    7
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    8
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    9
                  </button>
                </div>
                <div>
                  <button type="button" class="m-px size-10 flex justify-center items-center border border-transparent text-sm text-stone-800 hover:border-green-600 hover:text-green-600 rounded-full disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100" disabled>
                    10
                  </button>
                </div>
              </div>
              <!-- Days -->

              <!-- Button Group -->
              <div class="pt-4 flex justify-end gap-x-2">
                <button type="button" class="py-2 px-3 inline-flex items-center gap-x-2 text-xs font-medium rounded-lg border border-stone-200 bg-white text-stone-800 shadow-sm hover:bg-stone-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-50" data-hs-overlay="#hs-pro-edmad">
                  Cancel
                </button>
                <button type="button" class="py-2 px-3  inline-flex justify-center items-center gap-x-2 text-xs font-medium rounded-lg border border-transparent bg-green-600 text-white hover:bg-green-700 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-2 focus:ring-green-500" data-hs-overlay="#hs-pro-edmad">
                  Apply
                </button>
              </div>
              <!-- End Button Group -->
            </div>
            <!-- End Calendar -->
          </div>
          <!-- End Calendar -->
        </div>
      </div>
      <!-- End Calendar Dropdown -->

      <!-- Add Activity Dropdown -->
      <div class="hs-dropdown [--auto-close:inside] [--placement:bottom-right] relative inline-flex">
        <!-- Button -->
        <button id="hs-pro-daaad" type="button" class="py-2 px-2.5 inline-flex items-center gap-x-1.5 text-xs font-medium rounded-lg border border-stone-200 bg-white text-stone-800 shadow-sm hover:bg-stone-50 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-50" aria-haspopup="menu" aria-expanded="false" aria-label="Dropdown">
          <svg class="hidden sm:block shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
          Add activity
        </button>
        <!-- End Button -->

        <!-- Add Activity Dropdown -->
        <div class="hs-dropdown-menu hs-dropdown-open:opacity-100 w-40 transition-[opacity,margin] duration opacity-0 hidden z-10 bg-white rounded-xl shadow-[0_10px_40px_10px_rgba(0,0,0,0.08)]" role="menu" aria-orientation="vertical" aria-labelledby="hs-pro-daaad">
          <div class="p-1">
            <div class="flex justify-between items-center py-1.5 px-2 cursor-pointer rounded-lg hover:bg-stone-100">
              <label for="hs-pro-dachdds1" class="flex justify-between items-center gap-x-3 cursor-pointer text-[13px] text-stone-800">
                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="22 7 13.5 15.5 8.5 10.5 2 17"/><polyline points="16 7 22 7 22 13"/></svg>
                Revenue
              </label>
              <input type="checkbox" class="shrink-0 size-3.5 border-stone-300 rounded text-green-600 focus:ring-green-600 disabled:opacity-50 disabled:pointer-events-none" id="hs-pro-dachdds1" checked>
            </div>

            <div class="flex justify-between items-center py-1.5 px-2 cursor-pointer rounded-lg hover:bg-stone-100">
              <label for="hs-pro-dachdds2" class="flex justify-between items-center gap-x-3 cursor-pointer text-[13px] text-stone-800">
                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M14.5 22H18a2 2 0 0 0 2-2V7.5L14.5 2H6a2 2 0 0 0-2 2v4"></path><polyline points="14 2 14 8 20 8"></polyline><path d="M2.97 13.12c-.6.36-.97 1.02-.97 1.74v3.28c0 .72.37 1.38.97 1.74l3 1.83c.63.39 1.43.39 2.06 0l3-1.83c.6-.36.97-1.02.97-1.74v-3.28c0-.72-.37-1.38-.97-1.74l-3-1.83a1.97 1.97 0 0 0-2.06 0l-3 1.83Z"></path><path d="m7 17-4.74-2.85"></path><path d="m7 17 4.74-2.85"></path><path d="M7 17v5"></path></svg>
                Orders
              </label>
              <input type="checkbox" class="shrink-0 size-3.5 border-stone-300 rounded text-green-600 focus:ring-green-600 disabled:opacity-50 disabled:pointer-events-none" id="hs-pro-dachdds2" checked>
            </div>

            <div class="flex justify-between items-center py-1.5 px-2 cursor-pointer rounded-lg hover:bg-stone-100">
              <label for="hs-pro-dachdds3" class="flex justify-between items-center gap-x-3 cursor-pointer text-[13px] text-stone-800">
                <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 10 4 15 9 20"/><path d="M20 4v7a4 4 0 0 1-4 4H4"/></svg>
                Refunds
              </label>
              <input type="checkbox" class="shrink-0 size-3.5 border-stone-300 rounded text-green-600 focus:ring-green-600 disabled:opacity-50 disabled:pointer-events-none" id="hs-pro-dachdds3">
            </div>
          </div>
        </div>
        <!-- End Add Activity Dropdown -->
      </div>
      <!-- End Add Activity Dropdown -->
    </div>
  </div>
  <!-- End Header -->

  <!-- Body -->
  <div class="grid md:grid-cols-8 divide-x divide-stone-200">
    <div class="md:col-span-5 lg:col-span-6 p-5">
      <!-- Apex Line Chart -->
      <div id="hs-orders-bar-chart" class="min-h-[265px] -mx-2"></div>

      <!-- Legen Indicator -->
      <div class="flex justify-center items-center gap-x-4">
        <div class="inline-flex items-center">
          <span class="size-2.5 inline-block bg-green-500 rounded-sm me-2"></span>
          <span class="text-[13px] text-stone-600">
            In-store
          </span>
        </div>
        <div class="inline-flex items-center">
          <span class="size-2.5 inline-block bg-stone-300 rounded-sm me-2"></span>
          <span class="text-[13px] text-stone-600">
            Online
          </span>
        </div>
      </div>
      <!-- End Legen Indicator -->
    </div>
    <!-- End Col -->

    <div class="md:col-span-3 lg:col-span-2 p-2">
      <!-- Card -->
      <div class="bg-white p-2">
        <!-- Nav Tab -->
        <nav class="relative flex gap-x-1 after:absolute after:bottom-0 after:inset-x-0 after:border-b after:border-stone-200" aria-label="Tabs" role="tablist" aria-orientation="horizontal">
          <button type="button" class="hs-tab-active:after:bg-stone-800 hs-tab-active:text-stone-800 px-2.5 py-1.5 mb-2 relative inline-flex items-center gap-x-2 hover:bg-stone-100 text-stone-500 hover:text-stone-800 text-sm rounded-lg disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100 after:absolute after:-bottom-2 after:inset-x-0 after:z-10 after:h-0.5 after:pointer-events-none active" id="hs-pro-tabs-dtsch-item-revenue" aria-selected="true" data-hs-tab="#hs-pro-tabs-dtsch-revenue" aria-controls="hs-pro-tabs-dtsch-revenue" role="tab">
            Orders
          </button>
          <button type="button" class="hs-tab-active:after:bg-stone-800 hs-tab-active:text-stone-800 px-2.5 py-1.5 mb-2 relative inline-flex items-center gap-x-2 hover:bg-stone-100 text-stone-500 hover:text-stone-800 text-sm rounded-lg disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:bg-stone-100 after:absolute after:-bottom-2 after:inset-x-0 after:z-10 after:h-0.5 after:pointer-events-none" id="hs-pro-tabs-dtsch-item-orders" aria-selected="false" data-hs-tab="#hs-pro-tabs-dtsch-orders" aria-controls="hs-pro-tabs-dtsch-orders" role="tab">
            Sales
          </button>
        </nav>
        <!-- End Nav Tab -->

        <div>
          <!-- Tab Content -->
          <div id="hs-pro-tabs-dtsch-revenue" role="tabpanel" aria-labelledby="hs-pro-tabs-dtsch-item-revenue">
            <div class="py-4">
              <h4 class="font-semibold text-xl md:text-2xl text-stone-800">
                125,090
              </h4>

              <!-- Progress -->
              <div class="relative mt-3">
                <div class="flex w-full h-2 bg-stone-200 rounded-sm overflow-hidden" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100">
                  <div class="flex flex-col justify-center rounded-sm overflow-hidden bg-green-600 text-xs text-white text-center whitespace-nowrap transition duration-500" style="width: 72%"></div>
                </div>
                <div class="absolute top-1/2 start-[71%] w-2 h-5 bg-green-600 border-2 border-white rounded-sm transform -translate-y-1/2"></div>
              </div>
              <!-- End Progress -->

              <!-- Progress Status -->
              <div class="mt-3 flex justify-between items-center">
                <span class="text-xs text-stone-800">
    0.00
                </span>
                <span class="text-xs text-stone-800">
                   200,000
                </span>
              </div>
              <!-- End Progress Status -->

              <p class="mt-4 text-sm text-stone-600">
                A project-wise breakdown of total orders complemented by detailed insights.
              </p>
            </div>
          </div>
          <!-- End Tab Content -->

          <!-- Tab Content -->
          <div id="hs-pro-tabs-dtsch-orders" class="hidden" role="tabpanel" aria-labelledby="hs-pro-tabs-dtsch-item-orders">
            <div class="py-4">
              <h4 class="font-semibold text-xl md:text-2xl text-stone-800">
                $993,758.20
              </h4>

              <!-- Progress -->
              <div class="relative mt-3">
                <div class="flex w-full h-2 bg-stone-200 rounded-sm overflow-hidden" role="progressbar" aria-valuenow="47" aria-valuemin="0" aria-valuemax="100">
                  <div class="flex flex-col justify-center rounded-sm overflow-hidden bg-green-600 text-xs text-white text-center whitespace-nowrap transition duration-500" style="width: 47%"></div>
                </div>
                <div class="absolute top-1/2 start-[46%] w-2 h-5 bg-green-600 border-2 border-white rounded-sm transform -translate-y-1/2"></div>
              </div>
              <!-- End Progress -->

              <!-- Progress Status -->
              <div class="mt-3 flex justify-between items-center">
                <span class="text-xs text-stone-800">
    0.00
                </span>
                <span class="text-xs text-stone-800">
                   $2mln
                </span>
              </div>
              <!-- End Progress Status -->

              <p class="mt-4 text-sm text-stone-600">
                A project-wise breakdown of total orders complemented by detailed insights.
              </p>
            </div>
          </div>
          <!-- End Tab Content -->
        </div>
      </div>
      <!-- End Card -->

      <div>
        <!-- Link -->
        <a class="p-2 flex items-center gap-x-2 text-sm font-medium text-stone-800 rounded-lg hover:bg-stone-100 focus:outline-none focus:bg-stone-100" href="#">
          <span class="flex shrink-0 justify-center items-center size-7 bg-white border border-stone-200 rounded-lg">
            <svg class="shrink-0 size-3.5 text-green-600" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/></svg>
          </span>
          <div class="grow">
            <p>
              Show all highlights
            </p>
          </div>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg>
        </a>
        <!-- End Link -->

        <!-- Link -->
        <a class="p-2 flex items-center gap-x-2 text-sm font-medium text-stone-800 rounded-lg hover:bg-stone-100 focus:outline-none focus:bg-stone-100" href="#">
          <span class="flex shrink-0 justify-center items-center size-7 bg-white border border-stone-200 rounded-lg">
            <svg class="shrink-0 size-3.5 text-green-600" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"><path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/></svg>
          </span>
          <div class="grow">
            <p>
              Show all sales data
            </p>
          </div>
          <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"></path></svg>
        </a>
        <!-- End Link -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Body -->
</div>
<script>
    window.addEventListener('load', () => {
        fetch('/orders')
            .then(response => response.json())
            .then(data => {
                const inStoreData = data.filter(order => order.store_type === 'In-store').map(order => order.amount);
                const onlineData = data.filter(order => order.store_type === 'Online').map(order => order.amount);
                const categories = [...new Set(data.map(order => order.month))];

                // Define the buildChart function
                function buildChart(selector, options) {
                    const chart = new ApexCharts(document.querySelector(selector), options('light'));
                    chart.render();
                }

                // Build chart with fetched data
                buildChart('#hs-orders-bar-chart', (mode) => ({
                    chart: {
                        type: 'bar',
                        height: 400,
                        toolbar: {
                            show: false
                        },
                        zoom: {
                            enabled: false
                        }
                    },
                    series: [
                        {
                            name: 'In-store',
                            data: inStoreData,
                            color: '#8b5cf6'
                        }, {
                            name: 'Online',
                            data: onlineData,
                            color: '#d4d4d4'
                        }
                    ],
                    colors: ['#8b5cf6', '#d4d4d4'],
                    plotOptions: {
                        bar: {
                            horizontal: false,
                            columnWidth: '50%',
                            borderRadius: 4,
                        }
                    },
                    xaxis: {
                        categories: categories,
                        labels: {
                            rotate: -45,
                            style: {
                                fontSize: '10px'
                            }
                        }
                    }
                }));
            })
            .catch(error => console.error('Error fetching order data:', error));
    });

</script>